<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Jarzilla</string>
	<key>CFBundleVersion</key>
	<string>0.1.3</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>JARZ</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>jarzilla.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.googlecode.jarzilla</string>
	<key>CFBundleDocumentTypes</key>
	<array>
	    <dict>
	        <key>CFBundleTypeExtensions</key>
	        <array>
				<string>ear</string>
	            <string>jar</string>
				<string>sar</string>
	            <string>war</string>
				<string>zip</string>
	        </array>
	        <key>CFBundleTypeIconFile</key>
			<string>jarzilla.icns</string>
	        <key>CFBundleTypeName</key>
	        <string>Jarzilla File</string>
			<key>LSItemContentTypes</key>
        	<array>
				<string>com.sun.java-archive</string>
				<string>com.pkware.zip-archive</string>
			</array>
	        <key>CFBundleTypeRole</key>
	        <string>Viewer</string>
	    </dict>
	</array>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>com.googlecode.jarzilla.Jarzilla</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
		<string>$JAVAROOT/jarzilla.jar:$JAVAROOT/forms-1.2.1.jar:$JAVAROOT/mac_widgets.jar:$JAVAROOT/swingx-1.6.jar:$JAVAROOT/quaqua-filechooser-only.jar:$JAVAROOT/schlepit.jar:$JAVAROOT/jsyntaxpane-0.9.4.jar</string>
	</dict>
</dict>
</plist>
